/* General */

html, body {
	font-family:'AvenirNextLTW01-Regular';
	font-size: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: black;
	font-size: 15pt;
	line-height: 25pt;
}

img {
	
}

a {
	color: white;
  }

section  {
	margin: 0% 20%;
}

h1, h2 {
	font-family:'Avenir Next LT W01 Bold';
}

h1 {
	text-align: center;
	font-size: 37pt;
	margin-top: 25%;
	margin-bottom: 5%;
}

b{
	font-family:'Avenir Next LT W01 Bold';
}

.iframe-responsive {
	overflow: hidden;
	padding-top: 42%;
	position: relative;

	& iframe {
		border: 0;
   		height: 100%;
		left: 0;
   		position: absolute;
   		top: 0;
		width: 100%;
	}
}

.rounded-corner {
	border-radius: 20px;
}

/* Navigation */

nav {
	margin: auto;
	width: 80%;
	margin-top: 50px;

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		& li {
			display: inline;
		}

		& img {
			width: 7%;
		}

	}

	& a  {
		text-decoration: none;
		padding: 0px 50px;
		text-align: center;
	}
	
}

.logo {
	display: table;
	margin: auto;
	margin-top: 40px;
	width: 45%;
}

body {
	background: url('../img/head-bg.jpg');
  	background-position: top center;
  	background-size: 100%;
	background-repeat: no-repeat;
}

.available-on {
	text-align: center;
	font-size: 17pt;
	margin-top: 29%;

	& img {
		width: 100px;
		padding: 10px;
	}
}

/* Overview */

.movie-overview {
	display: flex;
	flex-wrap: wrap;

}

.movie-poster { 
	flex-basis: 30%;

	& img {
		width: 92%;
		border-radius: 20px;
	}
}

.movie-description {
	flex-basis: 70%;
}

.movie-info-c { 
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0;
	list-style-type: none;
	width: 100%;

	& li {
		flex-basis: 30%;
		padding-top: 5%;
	}
}

/* Trailers */

.yt-videos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;

	& .thumbnail {
		flex: 1 1 30%;
		color: black;
		opacity: 30%;

		& img {
			width: 100%;
		}
	}

	& .thumbnail:hover {
		opacity: 80%;
		transition: 0.3s;
	}
		
	& .thumbnail:first-child {
		opacity: 100%;
	}
}

/* Gallery */

.wallpaper-row {
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}

.wallpaper-column {
	-ms-flex: 50%;
	flex: 50%;
	max-width: 50%;
	padding: 0 20px;
}
  
.wallpaper-column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 20px;
}

/* Footer */

footer {
	margin-top: 15%;
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
}

.instagram-link {
	text-align: center;
}

.footerline {
	display: flex;
}

.footer-content1 {
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 30px;
	margin-left: 30px;
}

.footer-content2 {
	margin-left: auto;
	margin-right: 30px;
	margin-top: -150px;
}

.ig-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
}

footer a {
	color: white;
	position: relative;
	text-decoration: none;
	transition: color .4s ease-out;
}
  
footer a:hover {
	color: rgb(224, 224, 224); 
	right: 0;
	text-decoration: none;
}

footer a:hover:after {
	border-color: rgb(224, 224, 224);
	right: 0;
}
  
footer a:after {
	border-radius: 1em;
	border-top: .1em solid white;
	content: "";
	position: absolute;
	right: 100%;
	bottom: .14em;
	left: 0;
	transition: right .4s cubic-bezier(0,.5,0,1),
	border-color .4s ease-out;
}
  
footer a:hover:after {
	animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
	border-color: white;
}
  
  @keyframes anchor-underline {
	0%, 10% {
	  left: 0;
	  right: 100%;
	}
	40%, 60% {
	  left: 0;
	  right: 0;
	}
	90%, 100% {
	  left: 100%;
	  right: 0;
	}
}