/* General */

html, body {
	font-family:'AvenirNextLTW01-Regular';
	font-size: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: black;
	font-size: 15pt;
	line-height: 25pt;
}

a {
	color: white;
}

section  {
	margin: 0% 20%;
}

h1, h2 {
	font-family:'Avenir Next LT W01 Bold';
}

h1 {
	text-align: center;
	font-size: 37pt;
	margin-top: 10%;
	margin-bottom: 5%;
}

b{
	font-family:'Avenir Next LT W01 Bold';
}

.iframe-responsive {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

	& iframe {
		border: 0;
   		height: 100%;
		left: 0;
   		position: absolute;
   		top: 0;
		width: 100%;
	}
}

.rounded-corner {
	border-radius: 20px;
}

/* Navigation */

nav {
	margin: auto;
	width: 80%;
	margin-top: 50px;

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		& li {
			display: inline;
		}

		& img {
			width: 7%;
		}

	}

	& a  {
		text-decoration: none;
		padding: 0px 50px;
		text-align: center;
	}
	
}

.logo {
	display: table;
	margin: auto;
	margin-top: 40px;
	width: 45%;
}

body {
	background: url('../img/head-bg.jpg');
  	background-position: top center;
  	background-size: 80%;
	background-repeat: no-repeat;
}

.available-on {
	text-align: center;
	font-size: 17pt;
	margin-top: 25%;

	& img {
		width: 100px;
		padding: 10px;
	}
}

/* Overview */

.movie-overview {
	display: flex;
	flex-wrap: wrap;

}

.movie-poster { 
	flex-basis: 30%;

	& img {
		width: 95%;
		border-radius: 20px;
	}
}

.movie-description {
	flex-basis: 70%;
}

.movie-info {

}

.movie-info-c { 
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0;
	list-style-type: none;

	& li {
		flex-basis: 30%;
	}
}

/* Trailers */



/* Footer */

footer a {
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

